@media (max-width: 992px) {
  .project-img {
    height: 250px;
  }

  .card-body {
    padding: 25px;
  }

  #skills .col-lg-5 {
    margin-top: 40px;
  }

  #skills h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .project-img {
    height: 200px;
  }

  .card-body h2 {
    font-size: 28px;
  }

  .badge {
    font-size: 0.8rem !important;
  }

  #skills h1 {
    font-size: 2rem;
  }

  #skills h2 {
    font-size: 1.7rem;
  }

  .skill-badge {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}