*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(174, 174, 174);
}

.logo{
    width: 50px;
}

li{
    list-style: none;
    font-size: 20px;
}

li:hover{
    color: blue;
    cursor: pointer;
}

.menu-container{
    display: flex;
    gap: 15px;
}

.banner-image{
    width: 300px;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    background-image: url(./image/bg.avif);
    color: white;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-left{
    width: 400px;
    line-height: 2;
}

.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

.hire-btn{
    background-color: rgb(47, 30, 64);
}

.project-btn{
    background-color: rgb(19, 104, 201);
}

.name{
    font-size: 45px;
}

.title{
    font-size: 20px;
}